/* General Reset and Typography */
body {
  margin: 0;
  padding: 0;
  font-family: 'Bai Jamjuree', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Header Styles */
.main-header {
  background-color: #1e4494;
  color: white;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  height: 80px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
}

.main-nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.main-nav a:hover {
  background-color: #143f90;
  border-radius: 5px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 0;
    background-color: #1e4494;
    width: 100%;
    position: absolute;
    top: 60px; /* Adjust to align below the header */
    left: 0;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .main-nav a {
    padding: 15px 20px;
    text-align: center;
    width: 100%;
  }
}
